# Loading Full MEPS Dataset & Early Filtering of Features

-Beth Stankevich (09/2015)


## Steps:

1. import full MEPS csv
2. export column headers
3. (in excel) create a first pass filter for unwanted columns (*** this could be revised ***)
4. remove unwanted columns from full set
5. store in new csv for use in another notebook

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
cd ../Desktop/Insight/2012_MEPS/

/Users/bstankev/Desktop/Insight/2012_MEPS

# MEPS dataset, a quick about

*** Overview: ***

-data website (though, this was transformed into a csv): http://meps.ahrq.gov/mepsweb/index.jsp

-this dataset is from 2012

-38,000 people

-1,900 columns of data (some redundant)


*** Types of information (way more than this): ***

-Demographic (race, sex, age, socioeconomic)

-Disease-related (diagnosis of cancer, high blood pressure, high cholesterol, stroke)

-Military service

-Education level

-Health survey questions (mental health state, physical health state, energy level, pain level, calmness)

-Marriage status


*** Types of expenditure (more than this): ***

-office-based care (e.g., primary care physician 

-ER visits

-prescription drugs

-home health care

*** not every person has data for each of these columns - quite a bit of data loss with some categories ***

In [4]:
# load full dataset
MEPS_full = pd.read_csv('consolidated.csv', low_memory=False)

In [4]:
MEPS_full.head()

,DUID,PID,DUPERSID,PANEL,FAMID31,FAMID42,FAMID53,FAMID12,FAMIDYR,CPSFAMID,...,RXOSR12,RXPTR12,RXOTH12,PERWT12F,FAMWT12F,FAMWT12C,SAQWT12F,DIABW12F,VARSTR,VARPSU
0,20004,101,20004101,17 PANEL 17,A,A,A,A,A,A,...,0,0,0,5278.873077,5507.482711,5507.482711,6821.524206,0,1109,1
1,20004,102,20004102,17 PANEL 17,A,A,A,A,A,A,...,0,0,0,5487.229813,5507.482711,5507.482711,6842.431770,0,1109,1
2,20004,103,20004103,17 PANEL 17,A,A,A,A,A,A,...,0,0,0,4393.823454,5507.482711,5507.482711,0.000000,0,1109,1
3,20005,101,20005101,17 PANEL 17,A,A,A,A,A,A,...,0,0,53,4218.803187,3566.980985,3566.980985,4164.197294,0,1109,2
4,20005,102,20005102,17 PANEL 17,A,A,A,A,A,A,...,0,0,0,5666.951743,3566.980985,3566.980985,5537.450545,0,1109,2

In [5]:
# save .csv of column names
MEPS_cols = MEPS_full.dtypes
MEPS_cols = MEPS_cols.iloc[:]
MEPS_cols.to_csv('MEPS_cols.csv')

In [8]:
MEPS_full.dtypes

DUID          int64
PID           int64
DUPERSID      int64
PANEL        object
FAMID31      object
FAMID42      object
FAMID53      object
FAMID12      object
FAMIDYR      object
CPSFAMID     object
FCSZ1231      int64
FCRP1231     object
RULETR31     object
RULETR42     object
RULETR53     object
RULETR12     object
RUSIZE31     object
RUSIZE42     object
RUSIZE53     object
RUSIZE12     object
RUCLAS31     object
RUCLAS42     object
RUCLAS53     object
RUCLAS12     object
FAMSZE31     object
FAMSZE42     object
FAMSZE53     object
FAMSZE12      int64
FMRS1231     object
FAMS1231      int64
             ...
OTHSTL12      int64
OTHWCP12      int64
OTHOPR12      int64
OTHOPU12      int64
OTHOSR12      int64
OTHPTR12      int64
OTHOTH12      int64
RXTOT12       int64
RXEXP12       int64
RXSLF12       int64
RXMCR12       int64
RXMCD12       int64
RXPRV12       int64
RXVA12        int64
RXTRI12       int64
RXOFD12       int64
RXSTL12       int64
RXWCP12       int64
RXOPR12       int64
RXOPU12       int64
RXOSR12       int64
RXPTR12       int64
RXOTH12       int64
PERWT12F    float64
FAMWT12F    float64
FAMWT12C    float64
SAQWT12F    float64
DIABW12F    float64
VARSTR        int64
VARPSU        int64
dtype: object

In [6]:
# load column name + load? information (False = No; True = Yes)
MEPS1 = pd.read_csv('MEPS_load1.csv')
MEPS1.head()

    ID_Name   Load
0      DUID   True
1       PID   True
2  DUPERSID   True
3     PANEL  False
4   FAMID31  False

In [53]:
x = MEPS_full.shape
length = x[1]
length

1883

In [54]:
# drop uniformative rows (beta test, columns dropped may be re-added later)
ndf = MEPS_full
for i in range(length):
    id1 = MEPS1['ID_Name'][i]
    if not MEPS1['Load'][i]:
        ndf = ndf.drop(id1, axis = 1)

In [55]:
ndf.head()

,DUID,PID,DUPERSID,FAMIDYR,CPSFAMID,FCSZ1231,RULETR12,RUSIZE12,RUCLAS12,FAMSZE12,...,CHLIMP12,CASHP12X,CSHIMP12,SSIP12X,SSIIMP12,PUBP12X,PUBIMP12,OTHRP12X,OTHIMP12,HIEUIDX
0,20004,101,20004101,A,A,3,A,3 PERSONS IN RU,1 STANDARD RU,3,...,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,20004A1
1,20004,102,20004102,A,A,3,A,3 PERSONS IN RU,1 STANDARD RU,3,...,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,20004A1
2,20004,103,20004103,A,A,3,A,3 PERSONS IN RU,1 STANDARD RU,3,...,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,20004A1
3,20005,101,20005101,A,A,3,A,3 PERSONS IN RU,1 STANDARD RU,3,...,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,20005A1
4,20005,102,20005102,A,A,3,A,3 PERSONS IN RU,1 STANDARD RU,3,...,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,0,1 ORIGINAL RESPONSE USED,20005A1

In [57]:
ndf.shape

(38974, 622)

In [58]:
# output 'cleaned' data to a csv
ndf.to_csv('MEPS_clean1.csv')

### Done! Go to another notebook to do more feature inspection, feature selection, modeling